.drizzle .header {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.drizzle .content {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.drizzle .main {
  width: 100%;
}

.drizzle .sidebar ul li a {
  padding: 5px 10px;
  display: block;
  width: 100%;
  border-radius: 5px;
}

.drizzle .sidebar ul li a:hover {
  background-color: #333;
}

.drizzle table {
  width: 100%;
}

.drizzle table a {
  color: lightskyblue;
}

.drizzle th {
  text-align: left;
}

.drizzle table td {
  border-bottom: 1px solid #333;
}
